<h1>Registrieren</h1>
<form>
  <div>
    <label for="signup__name">Name</label>
    <input type="text"
           name="name"
           id="signup__name"
           class="signup__name">
  </div>
  <div>
    <label for="signup__email"></label>
    <input type="email"
           name="email"
           id="signup__email"
           class="signup__email">
  </div>
  <div>
    <label for="signup__password"></label>
    <input type="password"
           name="password"
           id="signup__password"
           class="signup__password">
  </div>
  <div>
    <label for="signup__confirmPassword"></label>
    <input type="password"
           id="signup__confirmPassword"
           class="signup__confirmPassword">
  </div>
  <button id="signup__button"
          class="signup__button">Registrieren</button>
</form>