@charset "utf-8";

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    'Noto Sans' Cantarell, 'Helvetica Neue', sans-serif;

  --green-1: #e1f2da;
  --green-2: #b0e19c;
  --green-3: #8cd070;
  --green-4: #6cb94c;
  --green-5: #52a230;
  --green-6: #3d8d1b;
  --green-7: #2a700c;
  --green-8: #1c5603;
  --green-9: #0f3300;

  --green-light: var(--green-2);
  --green: var(--green-5);
  --green-dark: var(--green-8);

  --blue-1: #becaed;
  --blue-2: #8da1da;
  --blue-3: #6d86d0;
  --blue-4: #435fb5;
  --blue-5: #244093;
  --blue-6: #102a76;
  --blue-7: #091e5e;
  --blue-8: #021140;
  --blue-9: #000a26;

  --blue-light: var(--blue-2);
  --blue: var(--blue-5);
  --blue-dark: var(--blue-8);

  --red-1: #f2cece;
  --red-2: #e69999;
  --red-3: #e07878;
  --red-4: #d14949;
  --red-5: #bb2525;
  --red-6: #971414;
  --red-7: #720c0c;
  --red-8: #4e0606;
  --red-9: #300303;

  --red-light: var(--red-2);
  --red: var(--red-5);
  --red-dark: var(--red-8);

  --yellow-1: #f2e1c2;
  --yellow-2: #f0d29c;
  --yellow-3: #efc57c;
  --yellow-4: #e8b153;
  --yellow-5: #da9a2b;
  --yellow-6: #b27c1e;
  --yellow-7: #875c12;
  --yellow-8: #5a3d0a;
  --yellow-9: #332205;

  --yellow-light: var(--yellow-2);
  --yellow: var(--yellow-5);
  --yellow-dark: var(--yellow-8);

  --brown-1: #e6cbc3;
  --brown-2: #d09e8e;
  --brown-3: #bf8776;
  --brown-4: #a2624e;
  --brown-5: #884936;
  --brown-6: #6b2d1a;
  --brown-7: #571e0d;
  --brown-8: #401204;
  --brown-9: #260900;

  --brown-light: var(--brown-2);
  --brown: var(--brown-5);
  --brown-dark: var(--brown-8);

  --grey-1: #fff;
  --grey-2: #dfdfdf;
  --grey-3: #bfbfbf;
  --grey-4: #9f9f9f;
  --grey-5: #808080;
  --grey-6: #606060;
  --grey-7: #404040;
  --grey-8: #202020;
  --grey-9: #000;

  --grey-light: var(--grey-2);
  --grey: var(--grey-5);
  --grey-dark: var(--grey-8);

  --primary: var(--green-5);
  --secondary: var(--brown-5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ########################################################################## */
/* HTML DEFAULTS */

html {
  font-family: Inter, sans-serif;
  font-size: 62.5%;
}

main {
  font-size: 1.8em;
  float: left;
  display: flex;
  width: 100%;
  height: calc(100vh - env(titlebar-area-height, 33px));
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  margin-bottom: 1em;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  font-size: 1.33em;
}

button,
button:link,
button:visited,
button:hover,
button:active {
  font-size: inherit;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  border: 0.15em solid var(--green-4);
  border-radius: 0.5em;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--grey-9);
  background-color: var(--grey-1);
}

button:hover,
button:active {
  background-color: var(--green-4);
}

label {
  text-align: right;
}

input {
  padding: 0.2em 0.4em;
}

fieldset {
  margin-bottom: 1.33em;
  border: 0;
}

/* ########################################################################## */
/* CLASSES */

.hidden {
  font-size: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.icon--inline {
  position: relative;
  height: 1em;
  top: 0.1em;
}

.link--inline,
.link--inline:link,
.link--inline:visited,
.link--inline:focus,
.link--inline:hover,
.link--inline:active {
  cursor: pointer;
  color: var(--blue);
}

.link--inline:focus {
  outline: var(--blue-dark);
}

.link--inline:hover,
.link--inline:active {
  text-decoration: underline;
}

.button--attention,
.button--attention:link,
.button--attention:visited {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--grey-1);
}

.button--attention:hover,
.button--attention:active {
  background-color: var(--green-dark);
  border-color: var(--green-dark);
  color: var(--grey-1);
}

.input--invalid {
  color: var(--red);
}

.mainSection {
  padding: 1em;
}

.error {
  font-size: 2em;
  font-weight: bold;
  color: var(--red);
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0.2em 1em 0 1em;
  position: fixed;
  top: calc(env(titlebar-area-height, 33px));
  text-align: center;
}

/* main navigation */

.mainNav__nav {
  float: right;
}

.mainNav__ul {
  display: inline-flex;
  gap: 0.5em;
  justify-content: flex-end;
}

.mainNav__li {
  list-style: none;
}

.mainNav__li:hover {
  cursor: pointer;
}

.mainNav__svg {
  width: 2.4em;
  height: 2.4em;
}

@media (display-mode: window-controls-overlay) {
  body {
    margin-top: env(titlebar-area-height, 33px);
  }

  .mainNav__nav {
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 33px);
    app-region: drag;
    background-color: var(--primary);
    background-image: url(./icon.svg);
    background-repeat: no-repeat;
    background-size: 2.4em 2.4em;
    background-position-x: 0.8em;
    color: var(--grey-8);
  }

  .mainNav__nav::before {
    font-family: var(--system-ui);
    content: 'Biohof App';
    float: left;
    font-size: 1.3em;
    height: 100%;
    line-height: env(titlebar-area-height, 33px);
    margin-left: calc(env(titlebar-area-height) + 1em);
  }

  .mainNav__ul {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .mainNav__svg {
    width: 1.6em;
    height: 1.6em;
    app-region: no-drag;
  }
}

/* signup */

.signup__inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.7em;
  align-items: center;
}
