<h1>
  <img src="./icon/wrench-screwdriver.svg"
       alt=""
       class="icon--inline">
  Einstellungen
</h1>

<article id="settings__addBedblock">

  <form id="addBedblock__form">
    <h2>Beetblock anlegen</h2>
    <div class="labelWrapper--block">
      <label for="addBedblock__name"
             class="label--left">
        <input type="text"
               name="addBedblock__name"
               id="addBedblock__name"
               required>
        Bezeichnung
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__number"
             class="label--left">
        <input type="number"
               name="addBedblock__number"
               id="addBedblock__number"
               min="1"
               value="10"
               required>
        Anzahl Beete
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__bedwidth"
             class="label--left">
        <input type="number"
               name="addBedblock__bedwidth"
               id="addBedblock__bedwidth"
               min="1"
               value="80"
               required>
        Beetbreite (cm)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__bedlength"
             class="label--left">
        <input type="number"
               name="addBedblock__bedlength"
               id="addBedblock__bedlength"
               min="1"
               step="0.1"
               value="15"
               required>
        Beetlänge (m)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__gap"
             class="label--left">
        <input type="number"
               name="addBedblock__gap"
               id="addBedblock__gap"
               min="0"
               value="40"
               required>
        Wegbreite (cm)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__x"
             class="label--left">
        <input type="number"
               name="addBedblock__x"
               id="addBedblock__x"
               step="1"
               value="0"
               required>
        Position X (cm)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__y"
             class="label--left">
        <input type="number"
               name="addBedblock__y"
               id="addBedblock__y"
               step="1"
               value="0"
               required>
        Position Y (cm)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__orientation"
             class="label--left">
        <input type="number"
               name="addBedblock__orientation"
               id="addBedblock__orientation"
               step="1"
               min="-89"
               max="90"
               value="0"
               required>
        Ausrichtung (°)
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__start"
             class="label--left">
        <input type="date"
               name="addBedblock__start"
               id="addBedblock__start"
               required>
        Start
      </label>
    </div>
    <div class="labelWrapper--block">
      <label for="addBedblock__end"
             class="label--left">
        <input type="date"
               name="addBedblock__end"
               id="addBedblock__end">
        Ende
      </label>
    </div>
    <div id="addBedblock__previewCanvas"></div>
    <button id="addBedblock__submitButton"
            class="button--attention">Speichern</button>
    <button id="addBedblock__cancelButton">Abbrechen</button>
  </form>
</article>