<h1>
  <img src="./icon/user-group.svg"
       alt=""
       class="icon--inline">
  Planung
</h1>
<!-- <ul>
  <li class="link link--private card"
      data-module="marketgarden"
      data-target="planCrops">
    <h2>Gemüseanbau</h2>
    <p>Ernte-Planung für Gemüsekisten, Märkte, Hofladen, etc.</p>
  </li>
</ul> -->
<section data-module="marketgarden">
  <h2>Gemüseanbau</h2>
  <ul>
    <li class="link link--private"
        data-target="planSeason">Saison</li>
    <li class="link link--private"
        data-target="planCrops">Vertriebsweg</li>
    <li class="link link--private"
        data-target="planCrops">Sorten</li>
    <li class="link link--private"
        data-target="planCrops">Erntetage</li>
    <li class="link link--private"
        data-target="planCrops">Anbau / Ernte</li>
  </ul>
</section>