<h1>
  <img src="./icon/wrench-screwdriver.svg"
       alt=""
       class="icon--inline">
  Einstellungen
</h1>

<article id="settings__general"
         style="display: none;">
  <h2 id="userid">Benutzer </h2>
  <ul class="list--styleNone">
    <li id="email">Email: </li>
    <li id="deviceid">Geräte-ID: </li>
    <li id="devicename">Geräte-Name: </li>
  </ul>
</article>

<article id="settings__farm"
         style="display: none;">
  <h2>Betrieb</h2>
  <h3>
    <span id="settings__selectedFarm"></span>
    <span class="noLineBreak"><svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="icon--inline controlElement"
           id="editFarm__link">
        <title>Betrieb umbenennen</title>
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="icon--inline controlElement"
           id="deleteFarm__link">
        <title>Betrieb löschen</title>
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke-width="1.5"
           stroke="currentColor"
           class="icon--inline controlElement"
           id="selectFarm__link">
        <title>Gewählten Betrieb wechseln</title>
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
      </svg>
    </span>
  </h3>
  <h4>Mitglieder
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="icon--inline controlElement"
         id="addUser__link">
      <title>Benutzer hinzufügen</title>
      <path stroke-linecap="round"
            stroke-linejoin="round"
            d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
    </svg>
  </h4>
  <div class="list--styleNone settings__farmRoles"
       id="settings__farmRoles">
  </div>
  <h4>Module</h4>
  <label class="label--block">
    <input type="checkbox"
           name="module_marketgarden"
           id="selectedFarm__moduleMarketgarden">
    Market Garden
  </label>
  <label class="label--block">
    <input type="checkbox"
           name="module_chicken"
           id="selectedFarm__moduleChicken">
    Hühner
  </label>
  <label class="label--block">
    <input type="checkbox"
           name="module_goats"
           id="selectedFarm__moduleGoats">
    Ziegen
  </label>
  <label class="label--block">
    <input type="checkbox"
           name="module_bees"
           id="selectedFarm__moduleBees">
    Bienen
  </label>
</article>

<button id="settings__addFarmLinkButton"
        class="button--attention"
        style="display: none;">
  Betrieb anlegen
</button>

<article id="settings__reset">
  <h2>App zurücksetzen</h2>
  <p>Alle lokal gespeicherten Daten werden gelöscht.
    Daten in der Datenbank bleiben erhalten.
    Die App kann danach mit den gleichen oder anderen Zugangsdaten erneut registriert werden.</p>
  <button id="resetApp__firstButton"
          class="button--danger">RESET APP</button>
</article>

<article id="editFarm__modal"
         class="modal__background"
         style="display: none;">
  <form id="editFarm__form"
        class="modal__box">
    <h3>Betrieb umbenennen</h3>
    <span id="editFarm__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <label for="name"
           class="label--block">Name des Betriebs</label>
    <input type="text"
           name="name"
           id="editFarm__name">
    <button id="editFarm__button">Speichern</button>
  </form>
</article>

<article id="deleteFarm__modal"
         class="modal__background"
         style="display: none;">
  <form id="deleteFarm__form"
        class="modal__box">
    <h3>Sicher?</h3>
    <p><strong>Der gesamte Betrieb und alle zugehörigen Daten werden gelöscht!</strong></p>
    <span id="deleteFarm__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <button id="deleteFarm__finalButton"
            class="button--danger">Betrieb löschen</button>
  </form>
</article>

<article id="selectFarm__modal"
         class="modal__background"
         style="display: none;">
  <form id="selectFarm__form"
        class="modal__box">
    <h3>Betrieb wechseln</h3>
    <span id="selectFarm__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <ul class="list--styleNone"
        id="settings__selectFarm">
    </ul>
    <ul class="list--styleNone">
      <li>
        <span id="addFarm__link"
              class="controlElement controlElement--open">
          &#65291; Neuen Betrieb anlegen
        </span>
      </li>
    </ul>
  </form>
</article>

<article id="addFarm__modal"
         class="modal__background"
         style="display: none;">
  <form id="addFarm__form"
        class="modal__box">
    <h3>Betrieb hinzufügen</h3>
    <span id="addFarm__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <label for="name"
           class="label--block">Name des Betriebs</label>
    <input type="text"
           name="name"
           id="addFarm__name">
    <h4>Module</h4>
    <label class="label--block">
      <input type="checkbox"
             name="module_marketgarden"
             id="addFarm__moduleMarketgarden">
      Market Garden
    </label>
    <label class="label--block">
      <input type="checkbox"
             name="module_chicken"
             id="addFarm__moduleChicken">
      Hühner
    </label>
    <label class="label--block">
      <input type="checkbox"
             name="module_goats"
             id="addFarm__moduleGoats">
      Ziegen
    </label>
    <label class="label--block">
      <input type="checkbox"
             name="module_bees"
             id="addFarm__moduleBees">
      Bienen
    </label>
    <button id="addFarm__button">Betrieb hinzufügen</button>
  </form>
</article>

<article id="resetApp__modal"
         class="modal__background"
         style="display: none;">
  <form id="resetApp__form"
        class="modal__box">
    <h3>Sicher?</h3>
    <p><strong>Alle lokal gespeicherten Daten werden gelöscht!</strong></p>
    <span id="resetApp__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <button id="resetApp__finalButton"
            class="button--danger">Daten löschen</button>
  </form>
</article>

<article id="addUser__modal"
         class="modal__background"
         style="display: none;">
  <form id="addUser__form"
        class="modal__box">
    <h3>Benutzer hinzufügen</h3>
    <span id="addUser__close"
          class="controlElement controlElement--close"
          title="Abbrechen">&#65291;</span>
    <label for="addUser__email"
           class="label--block">
      <input type="email"
             name="addUser__email"
             id="addUser__email"
             required>
      E-Mail-Adresse des Benutzers
    </label>
    <label for="addUser__admin"
           class="label--block">
      <input type="radio"
             name="addUser__role"
             id="addUser__admin"
             value="admin">
      Administrator
    </label>
    <label for="addUser__employee"
           class="label--block">
      <input type="radio"
             name="addUser__role"
             id="addUser__employee"
             value="employee">
      Mitarbeiter
    </label>
    <label for="addUser__visitor"
           class="label--block">
      <input type="radio"
             name="addUser__role"
             id="addUser__visitor"
             value="visitor"
             checked>
      Besucher
    </label>
    <button id="addUser__button">Benutzerrechte speichern</button>
  </form>
</article>