<h1>
  <img src="./icon/settings.svg"
       alt=""
       class="icon--inline">
  Einstellungen
</h1>
<h2>Betrieb</h2>
<label for="settings__company">Betrieb</label>
<select name="company"
        id="settings__company"
        class="settings__company">
  <option value="company-A">Betrieb A</option>
  <option value="company-B">Betrieb B</option>
  <option value="company-C">Betrieb C</option>
</select>

<button id="settings__addCompany"
        class="settings__company">Betrieb hinzufügen</button>