<h1>
  <img src="./icon/settings.svg"
       alt=""
       class="icon--inline">
  Einstellungen
</h1>
<h2>Betrieb</h2>
<label for="settings__farm">Betrieb</label>
<select name="farm"
        id="settings__farm"
        class="settings__farm">
  <option value="1">Betrieb A</option>
  <option value="2">Betrieb B</option>
  <option value="3">Betrieb C</option>
</select>

<span id="addFarm__link"
      class="controlElement"
      title="Betrieb hinzufügen">&#65291;</span>
<form id="addFarm__form"
      style="display: none;">
  <h3>Betrieb hinzufügen</h3>
  <label for="name">Name des Betriebs</label>
  <input type="text"
         name="name"
         id="addFarm__name">
  <h4>Module</h4>
  <label for="chicken">Hühner</label>
  <input type="checkbox"
         name="chicken"
         id="addFarm__moduleChicken">
  <button id="addFarm__button">Betrieb hinzufügen</button>
</form>