<h1>Registrieren</h1>
<form id="signup__form">
  <div>
    <label for="signup__email">E-Mail</label>
    <input type="email"
           name="email"
           id="signup__email"
           class="signup__email">
  </div>
  <div>
    <label for="signup__devicename">Gerätename</label>
    <input type="text"
           name="devicename"
           id="signup__devicename"
           class="signup__name">
  </div>
  <div>
    <input type="hidden"
           name="password"
           id="signup__password"
           class="signup__password">
  </div>
  <button id="signup__button"
          class="signup__button">Neuen Account anlegen</button>
</form>