<h1>Gerät registrieren</h1>
<form id="signup__form"
      class="signup__form">
  <fieldset id="signup__inputs"
            class="signup__inputs">
    <label for="signup__email">E-Mail *</label>
    <input type="email"
           name="email"
           id="signup__email"
           class="signup__email">

    <label for="signup__devicename">Gerätename</label>
    <input type="text"
           name="devicename"
           id="signup__devicename"
           class="signup__devicename">
  </fieldset>
  <div>
    <input type="hidden"
           name="password"
           id="signup__password"
           class="signup__password">
  </div>
  <button id="signup__button"
          class="signup__button button--attention">Speichern & Senden</button>
</form>